body {
    background-image: url("cubes.jpg");
    margin: 15;
    color: rgb(255, 255, 255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-width: 450px;
    display:flexbox
  }


  .container {
    background-color: rgba(44, 44, 44, 0.7);
    padding: 2%;
    max-width: 1100px;
    
    
  }

  .link {
    color: black;
    text-decoration-style: none;
    background-color: rgb(207, 207, 207);
    cursor: pointer;
    padding: 5px 9.5px;
    text-align: center;
    transition: 0.2s;

  }

  .link:hover  {
    background-color: rgb(255, 190, 68);
  }

  .link:active {
    background-color: rgb(255, 218, 86);
  }
